@model e_commerce.Models.HomeDecor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CustomerViewPartial.cshtml";
}
<head>
    <style>
        dt {
            float: left;
            clear: left;
            width: 110px;
            font-weight: bold;
        }

            dt::after {
                content: ":";
            }

        dd {
            margin: 0 0 0 80px;
            padding: 0 0 0.5em 0;
        }
    </style>
</head>
<h2>Details</h2>

<div>
    <h4>HomeDecor</h4>
    <hr />
    <div class="row">
  <div class="col-sm-3">
        <img src="@Html.DisplayFor(model => model.ImageFile)" class="card-img-top overflow-auto" alt="..." />
  </div>
  <div class="col-sm-9">
      <dl>
          <dt>
              @Html.DisplayNameFor(model => model.HName)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.HName)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.HType)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.HType)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Price)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Price)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Quantity)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Quantity)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Active)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Active)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Description)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Description)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.HBrand)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.HBrand)
          </dd>

          <dt>
              @Html.DisplayNameFor(model => model.FreeDelivery)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.FreeDelivery)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.LaunchDate)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.LaunchDate)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Rating)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Rating)
          </dd>
      </dl>
      <div>
          <a asp-controller="Carts" asp-action="GetHomeDecor" asp-route-id="@Model.HId" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>|
          <a class="btn btn-primary" asp-action="CustomerView" asp-controller="Login">Back to List</a>
      </div>


  </div>
 
</div>
    
</div>
