@model e_commerce.Models.ElectronicDevice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CustomerViewPartial.cshtml";
}
<head>
    <style>
        dt {
            float: left;
            clear: left;
            width: 110px;
            font-weight: bold;
            
        }
            dt::after {
                content: ":";
            }

        dd {
            margin: 0 0 0 80px;
            padding: 0 0 0.5em 0;
        }
    </style>
</head>
<h2>Details</h2>

<div>
    <h4>Electronic Device</h4>
    <hr />

    <div class="row">
        <div class="col-sm-3"> 
            <img src="@Html.DisplayFor(model => model.ImageFile)" class="card-img-top overflow-auto" alt="..." />
        </div>
        <div class="col-sm-9">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.EName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LaunchDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LaunchDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EBrand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EBrand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FreeDelivery)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FreeDelivery)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>
            </dl>
            <div>
                <a asp-controller="Carts" asp-action="GetElectronic" asp-route-id="@Model.EId" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>|
                <a class="btn btn-primary" asp-action="CustomerView" asp-controller="Login">Back to List</a>
            </div>
        </div>
        
    </div>
    
</div>

